<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_0gstVlwrxpgGE8kfLRkVn-M0GeBMnYI</string>
	<key>GCM_SENDER_ID</key>
	<string>1014677944281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nijuda.activosfijos</string>
	<key>PROJECT_ID</key>
	<string>nijuda</string>
	<key>STORAGE_BUCKET</key>
	<string>nijuda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014677944281:ios:56e8bedecb2b5b770d4bc8</string>
</dict>
</plist>